extends layout

block content
  center
    h2 Welcome
    p
      | This is your entry point into the distributed ledger, a.k.a. blockchain, that powers Bitcoin.
      br
      | Start by putting a block hash<!--, transaction hash, or address--> in the search box above. Or, you can see where it all <a href="/block/000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f">began</a>.
